{%  extends 'blog/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "framework-home" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course Design</li>
          </ol>
        </nav>
        <div class="card mb-3" id="newcourse">
            <div class="card-body">
                <h2 class="card-title">New Course - Guidelines</h2>
                <hr class="my-3">
                <a class="btn btn-primary btn-lg" href="#" role="button">Lesson Template</a>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">Design One Complete Lesson at a Time.</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">New Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">Don’t over-engineer the lesson</li>
                    <li class="list-group-item">Develop working versions of each lesson</li>
                    <li class="list-group-item">Use <b>iterative development.</b> Immediately evaluate the lesson and adjust design for future lessons</li>
                    <li class="list-group-item">Focus on <b>one lesson at a time.</b> This allows you to quickly develop working versions of each lesson that can reflect what worked in the previous lesson.</li>
                    <li class="list-group-item">Build it from the ground up through collaboration and transparency.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">Start small and allow for imperfection.</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">New Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">Develop small short lessons and learn from the imperfections.</li>
                    <li class="list-group-item">Take your time, analyze, start small, ask for feedback and incorporate your findings into the next project.</li>
                    <li class="list-group-item">Use lessons created by others and modify to your needs but don’t use over complicated</li>
                    <li class="list-group-item">Starting small helps teachers with little experience in creating  blended learning to ease into the process.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">Learn to blend as you go.</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">New Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">Continuously educated yourself on blended learning approaches</li>
                    <li class="list-group-item">Some subjects benefit from blended learning better than others.</li>
                    <li class="list-group-item">Blended learning creates many possibilities, and the best method may not be obvious at first.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">Focus on Learning Outcomes</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">New Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">Create activities that lead to your learning outcomes based on strengths and weaknesses of each.</li>
                    <li class="list-group-item">Start with goals and outcomes then match the right activities to the best fitting modes for learning.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" id="existingcourse" >
            <div class="card-body">
                <h2 class="card-title">Existing Course - Guidelines</h2>
                <hr class="my-3">
                <a class="btn btn-primary btn-lg" href="#" role="button">Lesson Template</a>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">
                Recreating existing onsite activities in an online environment should not be done
            </h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Existing Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        Evaluate whether an activity would be best to be done online or onsite
                    </li>
                    <li class="list-group-item">
                        Do not create extra work for students just because you can put additional content online
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">
                Lesson content should be available online for online and onsite learning
            </h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Existing Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        Blended course lessons will be constructed online, even though some activities will take place onsite
                    </li>
                    <li class="list-group-item">
                        Create a module or folder to organize and sequence the activities
                    </li>
                    <li class="list-group-item">
                        Lesson should contain an introductory page explaining the lesson, indicate outcomes, and provide resources for learner.
                    </li>
                    <li class="list-group-item">
                        A lesson should contain an area for online discussion forums, quizzes, assignments, or other online activities. These can be typically provided through an LMS system
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">
                Constantly evaluate the learning outcomes
            </h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Existing Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        Evaluate the experience of your current students and their learning outcomes
                    </li>
                    <li class="list-group-item">
                        Change one or two aspects of the course to see the effect
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">
                Focus on Learning Outcomes
            </h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Existing Courses</h6>
                <ul class="list-group">
                    <li class="list-group-item">
                        Create activities that lead to your learning outcomes based on strengths and weaknesses of each.
                    </li>
                    <li class="list-group-item">
                        Start with goals and outcomes then match the right activities to the best fitting modes for learning.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" id="mentalhealth" >
            <div class="card-body bg-danger">
                <h2 class="card-title text-white">Mental Health - Guidelines</h2>
                <hr class="my-3">
                <a class="btn btn-primary btn-lg" href="#" role="button">Mental Health Lesson Template</a>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-danger">Mental Health Guidelines</h5>

            <div class="card-body text-danger">
                <h6 class="card-subtitle mb-2 text-danger">Mental Health</h6>
                <ul class="list-group">
                    <li class="list-group-item border-danger">Consider how your course impacts student wellbeing </li>
                    <li class="list-group-item border-danger">Use diagnostics to help students self-assess to help the learner understand their level of preparedness.</li>
                    <li class="list-group-item border-danger">Provide clear expectations for your students. Give clear deadlines and expectations for assessment.</li>
                    <li class="list-group-item border-danger">Consider the tone of your syllabus and course. Stay away from phrases like “all students must” and “failure to follow these instructions” they come across as unwelcoming.</li>
                    <li class="list-group-item border-danger">Instructor should not take on the role of a counsellor or try to diagnose the student. Refer your learner to the appropriate school resource.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" id="avoid">
            <div class="card-body bg-primary">
                <h2 class="card-title text-white">Things to Avoid</h2>
                <hr class="my-0">
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-primary">Creating “a class and a half”.</h5>

            <div class="card-body">
                <h6 class="card-subtitle mb-2">Avoid</h6>
                <ul class="list-group">
                    <li class="list-group-item">Don’t create too much work for students by simply adding online or onsite activities to an existing course design.</li>
                    <li class="list-group-item">A blended redesign should replace, not expand.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-primary">Selecting The Wrong Technology</h5>

            <div class="card-body">
                <h6 class="card-subtitle mb-2">Avoid</h6>
                <ul class="list-group">
                    <li class="list-group-item">Avoid the use of unfocused or ill-fitting technology</li>
                    <li class="list-group-item">You risk constraining the design by being locked into a certain technology even if it is not best suited for your goal.</li>
                    <li class="list-group-item">Do not use technology simply for technology’s sake.</li>
                    <li class="list-group-item">Focus on learning outcomes every step of the way.</li>
                    <li class="list-group-item">Take your time —design first and choose the appropriate technology later. The right tool to meet your learning objective is out there.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-primary">Going Too Fast</h5>

            <div class="card-body">
                <h6 class="card-subtitle mb-2">Avoid</h6>
                <ul class="list-group">
                    <li class="list-group-item">Converting blended learning into your learning strategy takes time.</li>
                    <li class="list-group-item">Cutting corners doesn’t benefit your learners.</li>
                    <li class="list-group-item">Take your time, analyze, start small, ask for feedback and incorporate your findings into the next project.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-primary">Trying To Fit Existing Courses Into A Blended Delivery</h5>

            <div class="card-body">
                <h6 class="card-subtitle mb-2">Avoid</h6>
                <ul class="list-group">
                    <li class="list-group-item">Avoid recreating onsite activities that do not fit online</li>
                    <li class="list-group-item">If the shoe doesn’t fit don’t force it. Some courses are are not effective online. Any blended learning course should be designed from scratch.</li>
                    <li class="list-group-item">What might have been an excellent face-to-face lecture will not always translate to effective online training.</li>
                    <li class="list-group-item">Rethink the entire instructional approach. Identify the desired outcomes, take a look at your audience, review the content, and determine the best approach to accomplish your goals.</li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header text-white bg-primary">Missing The Assessments And Measurements</h5>

            <div class="card-body">
                <h6 class="card-subtitle mb-2">Avoid</h6>
                <ul class="list-group">
                    <li class="list-group-item">Critical Step, creating an amazing blended learning program does not mean its right for everyone</li>
                    <li class="list-group-item">Know your Key Performance Indicators from the outset</li>
                    <li class="list-group-item">Continuous improvement will make your program more solid</li>
                </ul>
            </div>
        </div>

    </div>
        <!--This is the right side panel-->
    <div class="col-md-4">
        <div class="jumbotron">
          <h1 class="display-4">Course Design</h1>
          <p class="lead">When designing a course or lesson for Blended Learning. These are some important guidelines that you should follow along with trhings to avoid when designing your course</p>
            <p><a href="#newcourse" class="card-link">New Course Guidelines</a></p>
            <p><a href="#existingcourse" class="card-link">Existing Course Guidelines</a></p>
            <p><a href="#mentalhealth" class="card-link">Course Mental Health Guidelines</a></p>
            <p><a href="#avoid" class="card-link">Course Design Things to Avoid</a></p>

        </div>
        <div class="list-group mb-3">
          <button type="button" class="list-group-item list-group-item-action active">
            Resource Links
          </button>
            <a type="button" href="https://www.youtube.com" class="list-group-item list-group-item-action">YouTube</a>
            <a type="button" href="https://www.flipgrid.com" class="list-group-item list-group-item-action">Flipgrid</a>
            <a type="button" href="https://www.youtube.com/c/smartereveryday/featured" class="list-group-item list-group-item-action">Smarter Everyday</a>
            <a type="button" href="https://www.youtube.com/channel/UCtFRv9O2AHqOZjjynzrv-xg" class="list-group-item list-group-item-action">YouTube Learning</a>
            <a type="button" href="https://www.khanacademy.org" class="list-group-item list-group-item-action">Khan Academy</a>
        </div>
        <div class="list-group mb-3">
          <button type="button" class="list-group-item list-group-item-action active">
            Guidelines
          </button>
            <a type="button" href="#" class="list-group-item list-group-item-action">Course Design</a>
            <a type="button" href="{% url 'framework-assessment' %}" class="list-group-item list-group-item-action">Assessment</a>
            <a type="button" href="{% url 'framework-activities'%}" class="list-group-item list-group-item-action">Activities</a>
            <a type="button" href="{% url 'framework-technology' %}" class="list-group-item list-group-item-action">Technology and Tools</a>
            <a type="button" href="{% url 'framework-professional' %}" class="list-group-item list-group-item-action">Professional Development</a>
        </div>
    </div>
    </div>

{%  endblock content %}