{%  extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Blended Learning Framework</h1>
      <p class="lead">This blended learning framework focuses on guidelines around Course Design, Activities, Assessments, Mental health, Tools and Technologies and Professional
      Development for Educators.</p>
      <hr class="my-4">
      <p>Below you will find links to download the framework Guidelines and examine resources</p>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url "resource-home" %}" role="button">Resources</a>
          <a class="btn btn-primary btn-lg" href="{% static 'blog/BlendedlearningFramework.pdf' %}" role="button">Download PDF</a>
      </p>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Course Design. <span class="text-muted">Guidelines to help you design your courses.</span></h2>
            <p class="lead">It is important when designing a course that you take into account the whether you are designing for an existing coruse
            or new course. You can view the guidelines for course design by selecting the guidelines button</p>
        </div>
        <div class="col-md-5" style="text-align: center;">
          <p><img class="rounded mx-auto d-block" data-src="holder.js/250x250/auto" alt="250x250" style="width: 250px; height: 250px;" src="{% static 'blog/coursedesign.png' %}"></p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="{%  url 'framework-course-design' %}" role="button">Guidelines</a></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5" style="text-align: center;">
          <p><img class="rounded mx-auto d-block" data-src="holder.js/250x250/auto" alt="250x250" style="width: 250px; height: 250px;" src="{% static 'blog/assessment.png' %}"></p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'framework-assessment' %}" role="button">Guidelines</a></p>
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Assessment. <span class="text-muted">Guidelines on lesson feedback.</span></h2>
            <p class="lead">It is important when you have a Blended learning course that you are constantly performing assessments
                on the understanding ouf your learners. You can click on the guidelines and examine the assessment techniques. </p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Activities. <span class="text-muted">Guidelines for in-person and online content.</span></h2>
            <p class="lead">When designing a Blended learning course it is important when designing activities that you look at utilizing online activities
            that compliment your in-person activities. You can click on teh guidelines and examine the recommendtions for handling activities
            in a Blended Learning environment.</p>
        </div>
        <div class="col-md-5" style="text-align: center;">
          <p><img class="rounded mx-auto d-block" data-src="holder.js/250x250/auto" alt="250x250" style="width: 250px; height: 250px;" src="{% static 'blog/activities.png' %}"></p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'framework-activities' %}" role="button">Guidelines</a></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5" style="text-align: center;">
          <p><img class="rounded mx-auto d-block" data-src="holder.js/250x250/auto" alt="250x250" style="width: 250px; height: 250px;" src="{% static 'blog/technology.png' %}"></p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'framework-technology' %}" role="button">Guidelines</a></p>
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Tools and Technology. <span class="text-muted">Guidelines for selecting the right technology for your course.</span></h2>
            <p class="lead">Determining the technology to use for your Blended learning environment requires developing a technology strategy for your
            organization. The following guidelines will provide guidelines on technology requirements and criteria for determining the best LMS technology.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Professional Development. <span class="text-muted">Guidelines and strategies for training.</span></h2>
            <p class="lead"> Developing a Blended learning environment requires a successful support network for continuing education and training for
                developing Blended Learning environments. The following guidelines and resources are available in the guidelines link..</p>
        </div>
        <div class="col-md-5" style="text-align: center;">
          <p><img class="rounded mx-auto d-block" data-src="holder.js/250x250/auto" alt="250x250" style="width: 250px; height: 250px;" src="{% static 'blog/professionaldevelopment.png' %}" data-holder-rendered="true"></p>
          <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Guidelines</a></p>
        </div>
    </div>
{%  endblock content %}