{%  extends 'blog/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "framework-home" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professional Development</li>
          </ol>
        </nav>
        <div class="card mb-3" >
            <div class="card-body">
                <h2 class="card-title">Professional Development - Guidelines</h2>
                <hr class="my-3">
            </div>
        </div>
        <div class="card mb-3" id="technique">
            <h5 class="card-header">Techniques to successful Professional Development</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Techniques</h6>
                <ul class="list-group">
                    <li class="list-group-item">Allow teachers to experience blended learning as a learner. Effective blended-learning professional development can include learning experiences that highlight these instructional approaches, challenging how teachers view instruction and creating opportunities to understand student perspectives on learning in a blended setting.</li>
                    <li class="list-group-item">Encourage peer observations in blended-learning classrooms. Observe peers at other school sites to be exposed to a wider range of approaches and philosophies.</li>
                    <li class="list-group-item">Offer technology implementation training, including lessons on educational software utilization, troubleshooting, and student data analysis. Technology integration should be woven into professional development on instructional practice instead of becoming the focal point.</li>
                    <li class="list-group-item">Teach classroom management strategies specifically for a blended-learning classroom. Educators must consider the impact of digital citizenship as well as logistical considerations regarding software access and hardware management</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" id="strategy">
            <h5 class="card-header">Professional Development Strategies</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Strategies</h6>
                <ul class="list-group">
                    <li class="list-group-item">Provide professional learning opportunities to staff members that explain the functionality and applications of new technologies.</li>
                    <li class="list-group-item">Offer examples and “use cases” that demonstrate how new technologies can improve the delivery of instructional content to students.</li>
                    <li class="list-group-item">Provide teachers time to practice and experiment with new technologies and blended learning strategies.</li>
                    <li class="list-group-item">Create on-demand professional learning for staff members.</li>
                    <li class="list-group-item">Develop and curate a collection of podcasts and YouTube videos that explain and demonstrate blended learning approaches.</li>
                    <li class="list-group-item">Support peer-to-peer professional learning. Identify teachers and staff members willing to serve as informal “coaches” to advise and support colleagues who need help integrating blended learning strategies.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" >
            <h5 class="card-header">Strategies for Schools</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Strategies</h6>
                <ul class="list-group">
                    <li class="list-group-item">Professional development should be provided frequently and consistently to support targeted student growth goals</li>
                    <li class="list-group-item">Utilize data-driven systems to measure progress in professional development for educators.</li>
                    <li class="list-group-item">Professional development resources must fit your curriculum, prescribed standards, and student achievement goals.</li>
                </ul>
            </div>
        </div>
    </div>
        <!--This is the right side panel-->
    <div class="col-md-4">
        <div class="jumbotron">
          <h1 class="display-4">Professional Development</h1>
          <p class="lead">It is important as Blended Learning environments are developed that a training plan is put in place for educators. The following guidelines and resources will support you continuing education</p>
            <p><a href="#technique" class="card-link">Techniques for Professional Development</a></p>
            <p><a href="#strategy" class="card-link">Strategies for Educators and Schools</a></p>

        </div>
        <div class="list-group mb-3">
          <button type="button" class="list-group-item list-group-item-action active">
            Resource Links
          </button>
            <a type="button" href="https://onlinelearningconsortium.org/learn/resources-for-k-12-educators/" class="list-group-item list-group-item-action">Online Learning Consortium</a>
            <a type="button" href="https://www.coursera.org/" class="list-group-item list-group-item-action">Coursera</a>
            <a type="button" href="https://www.edx.org/" class="list-group-item list-group-item-action">EdX</a>
            <a type="button" href="https://www.alison.com/" class="list-group-item list-group-item-action">Alison</a>
            <div class="card-footer text-muted text-center">
                <a href="{% url 'resource-professional-development' %}">Additional Resources</a>
            </div>
        </div>
        <div class="list-group mb-3">
          <button type="button" class="list-group-item list-group-item-action active">
            Guidelines
          </button>
            <a type="button" href="{% url 'framework-course-design' %}" class="list-group-item list-group-item-action">Course Design</a>
            <a type="button" href="{% url 'framework-assessment' %}" class="list-group-item list-group-item-action">Assessment</a>
            <a type="button" href="{% url 'framework-activities' %}" class="list-group-item list-group-item-action">Activities</a>
            <a type="button" href="{% url 'framework-technology' %}" class="list-group-item list-group-item-action">Technology and Tools</a>
            <a type="button" href="#" class="list-group-item list-group-item-action">Professional Development</a>
        </div>
    </div>
    </div>

{%  endblock content %}