{%  extends 'blog/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-8">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "framework-home" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'resource-home' %}">Resources</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ filter }}</li>
          </ol>
    </nav>
    {% for resource in resources %}
        {% if filter == resource.framework_category %}
            <div class="card mb-3" >
                <h5 class="card-header">{{ resource.title }}</h5>
                <div class="card-body">
                    <p>{{ resource.content }}</p>
                    <button class="btn btn-outline-primary">{{ resource.framework_category }}</button>
                    <a class="btn btn-primary" href="{{ resource.site_url }}" role="button">View Site</a>
                    <a class="btn btn-primary" href="{% url 'resource-post-detail' resource.id %}" role="button">View Details</a>
                </div>

                <div class="card-footer text-muted">
                    User: <a class="mr-2" href="#">{{ resource.author }}</a> Date Posted: {{ resource.date_posted|date:'F d, Y' }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
        <!--This is the right side panel-->
    <div class="col-md-4">
        <div class="mt-1 mb-4">
            <a class="btn btn-primary col-md-12" href="{% url 'resource-post-create' %}">Add Resource</a>
        </div>
        <div class="jumbotron">
          <h1 class="display-4">Resources</h1>
          <p class="lead">When designing a course or lesson for Blended Learning. These are some important guidelines that you should follow along with trhings to avoid when designing your course</p>
            <p><a href="{% url 'resource-course-design' %}" class="card-link">Course Design</a></p>
            <p><a href="{% url 'resource-assessment' %}" class="card-link">Assessment</a></p>
            <p><a href="{% url 'resource-activities' %}" class="card-link">Activities</a></p>
            <p><a href="{% url 'resource-technology' %}" class="card-link">Technology and Tools</a></p>
            <p><a href="{% url 'resource-professional-development' %}" class="card-link">Professional Development</a></p>

        </div>
    </div>
    </div>
{%  endblock content %}

