{%  extends 'blog/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-8">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "framework-home" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resources</li>
          </ol>
    </nav>
    {% for resource in resources %}
            <div class="card mb-3" >
                <h5 class="card-header">{{ resource.title }}</h5>
                <div class="card-body">
                    <p>{{ resource.content }}</p>
                    {% if resource.framework_category == 'course_design' %}
                        <a class="btn btn-outline-primary" href="{% url 'resource-course-design' %}">{{ resource.framework_category }}</a>
                    {% elif resource.framework_category == 'assessment'%}
                        <a class="btn btn-outline-primary" href="{% url 'resource-assessment' %}">{{ resource.framework_category }}</a>
                    {% elif resource.framework_category == 'activities'%}
                        <a class="btn btn-outline-primary" href="{% url 'resource-activities' %}">{{ resource.framework_category }}</a>
                    {% elif resource.framework_category == 'technology'%}
                        <a class="btn btn-outline-primary" href="{% url 'resource-technology' %}">{{ resource.framework_category }}</a>
                    {% elif resource.framework_category == 'professional_development'%}
                        <a class="btn btn-outline-primary" href="{% url 'resource-professional-development' %}">{{ resource.framework_category }}</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ resource.site_url }}" role="button">View Site</a>
                    <a class="btn btn-primary" href="{% url 'resource-post-detail' resource.id %}" role="button">View Details</a>
                </div>

                <div class="card-footer text-muted">
                    User: <a class="mr-2" href="#">{{ resource.author }}</a> Date Posted: {{ resource.date_posted|date:'F d, Y' }}
                    <a href="{% url 'resource-post-detail' pk=resource.pk %}">Comments: {{ resource.comments.count }}</a>
                </div>
            </div>
    {% endfor %}
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}

                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {%  endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>
        <!--This is the right side panel-->
    <div class="col-md-4">
        <div class="mt-1 mb-4">
            <a class="btn btn-primary col-md-12" href="{% url 'resource-post-create' %}">Add Resource</a>
        </div>
        <div class="jumbotron">
          <h1 class="display-4">Resources</h1>
          <p class="lead">When designing a course or lesson for Blended Learning you will find specific resources based on the categories below.</p>
            <p><a href="{% url 'resource-course-design' %}" class="card-link">Course Design</a></p>
            <p><a href="{% url 'resource-assessment' %}" class="card-link">Assessment</a></p>
            <p><a href="{% url 'resource-activities' %}" class="card-link">Activities</a></p>
            <p><a href="{% url 'resource-technology' %}" class="card-link">Technology and Tools</a></p>
            <p><a href="{% url 'resource-professional-development' %}" class="card-link">Professional Development</a></p>
            <p><a href="{% url 'resource-home' %}" class="card-link">All Resources</a></p>

        </div>
    </div>
    </div>
{%  endblock content %}

