{%  extends 'blog/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "framework-home" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "resource-home" %}">Resources</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
          </ol>
    </nav>
    <div class="card mb-3" >
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">
            <p>{{ object.content }}</p>
            <a class="btn btn-primary" href="{{ object.site_url }}" role="button">View Site</a>
        </div>

        <div class="card-footer text-muted">
            <b>Category:</b> {{ object.framework_category }} <b>Posted by User:</b> <a class="mr-2" href="#">{{ resource.author }}</a> <b>Date Posted:</b> {{ resource.date_posted|date:'F d, Y' }}
        </div>
    </div>
    <div class="card mb-3" id="newcourse">
        <div class="card-body">
            <h4 class="card-title">Comments</h4>
            <hr class="my-3">
            <a class="btn btn-primary mb-4" href="{% url 'add_comment_to_post' pk=resource.pk %}">Add Comment</a>
            <hr>
                {% for comment in resource.comments.all %}
                    <div class="comment">
                        <div class="date">{{ comment.created_date }}</div>
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}

        </div>
    </div>

{%  endblock content %}
